button:focus {
    transform: scale(1.1);
    transition: ease 100ms;
}

*{
    z-index: 1;
}

.PictureId {
    position: absolute;
    top: 22px;
    right: 10px;
    z-index: 0;
    width: 100px;
    height: auto;
    transform: scaleX(-1);
}

.AdminPic {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
}

@media screen and (min-width: 100px) {
    /* Fikse rekkefølge på mobil/tablet format */

    .Unregistered {
        max-height: 90vh;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
    }

    /* Register Button */ 
    .Unregistered div:nth-child(1) {
        grid-row: 1;
    }

    /* Title */
    .Unregistered div:nth-child(2) {
        grid-row: 2;
    }

    /* Map */
    .Unregistered div:nth-child(3) {
        grid-row: 3;
    }

    /* Squads */
    .Unregistered div:nth-child(4) {
        grid-row: 4;
    }

    .SScreen {
        display: block;
    }

    .JoinedGame {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .SScreen {
        display: none;
    }
    .Admin {
        display: flex;
    }

    .Admin .ColLeft {
        width: 50%;
    }

    .Admin .ColRight {
        width: 50%;
    }

    .Unregistered {
        display: flex;
    }

    .Unregistered .ColLeft {
        margin-top: 50px;
        width: 50%;
    }

    .Unregistered .ColRight {
        width: 50%;
    }

    .JoinedGame {
        display: flex;
    }

    .JoinedGame .ColLeft {
        margin-top: 50px;
        float: left;
        width: 50%;
    }

    .JoinedGame .ColRight {
        float: right;
        width: 50%;
    }
}