.join_btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
<<<<<<< Updated upstream
}

.leave_btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
=======
>>>>>>> Stashed changes
}