button:focus {
    transform: scale(1.1);
    transition: ease 100ms;
}

@media screen and (min-width: 100px) {
    /* Fikse rekkefølge på mobil/tablet format */

    .Unregistered {
        max-height: 90vh;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
    }

    /* Register Button */ 
    .Unregistered div:nth-child(1) {
        grid-row: 1;
    }

    /* Title */
    .Unregistered div:nth-child(2) {
        grid-row: 2;
    }

    /* Map */
    .Unregistered div:nth-child(3) {
        grid-row: 3;
    }

    /* Squads */
    .Unregistered div:nth-child(4) {
        grid-row: 4;
    }

    .JoinedGame {
        max-height: 90vh;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
    }

    /* BiteCodeEntry or Fragment */
    .JoinedGame div:nth-child(1) {
        grid-row: 4;
    }

    /* Registration Button */
    .JoinedGame div:nth-child(2) {
        grid-row: 1;
    }

    /* Title */
    .JoinedGame div:nth-child(3) {
        grid-row: 2;
    }

    /* SquadList */
    .JoinedGame div:nth-child(4) {
        grid-row: 6;
    }

    /* Chat */
    .JoinedGame div:nth-child(5) {
        grid-row: 5;
    }

    /* Google Map */
    .JoinedGame div:nth-child(6) {
        grid-row: 3;
    }
}

@media screen and (min-width: 801px) {
    .Admin {
        max-height: 90vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        padding: 10px;
    }

    .Unregistered {
        max-height: 90vh;
        display: grid;
        grid-template-columns: 30% 20% 20% 30%;
        grid-template-rows: 10% 60% 30%;
        padding: 10px 20px 10px 20px;
    }

    /* Register Button */ 
    .Unregistered div:nth-child(1) {
        grid-column: 1 / span 4;
        grid-row: 1;
    }

    /* Title */
    .Unregistered div:nth-child(2) {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    /* Map */
    .Unregistered div:nth-child(3) {
        grid-column: 3 / span 4;
        grid-row: 2 / span 3;
        margin-right: 0;
    }

    /* Squads */
    .Unregistered div:nth-child(4) {
        grid-column: 1 / span 2;
        grid-row: 3;
        margin-top: -25px;
    }

    .JoinedGame {
        max-height: 90vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr 1fr;
        padding: 0 10px;
    }

    /* BiteCodeEntry or Fragment */
    .JoinedGame div:nth-child(1) {
        grid-column: 2;
        grid-row: 3;
    }

    /* Registration Button */
    .JoinedGame div:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    /* Title */
    .JoinedGame div:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }

    /* SquadList */
    .JoinedGame div:nth-child(4) {
        grid-column: 1;
        grid-row: 3;
    }

    /* Chat */
    .JoinedGame div:nth-child(5) {
        grid-column: 1;
        grid-row: 4;
    }

    /* Google Map */
    .JoinedGame div:nth-child(6) {
        grid-column: 2;
        grid-row: 2 / span 3;
    }
}

@media screen and (min-width: 1200px) {
    .Admin {
        max-height: 90vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        padding: 10px;
    }

    .Admin div:nth-child(4) {
        margin: 10px;
    }

    .Unregistered {
        max-height: 90vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 1fr 1fr;
        padding: 10px;
    }

    /* Register Button */ 
    .Unregistered div:nth-child(1) {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    /* Title */
    .Unregistered div:nth-child(2) {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    /* Map */
    .Unregistered div:nth-child(3) {
        grid-column: 2;
        grid-row: 2 / span 3;
    }

    /* Squads */
    .Unregistered div:nth-child(4) {
        grid-column: 3;
        grid-row: 2 / span 3;
        margin-top: -25px;
    }

    .JoinedGame {
        max-height: 90vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 300px 1fr 1fr 1fr;
    }

    /* Registration Button */
    .JoinedGame div:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    /* Title */
    .JoinedGame div:nth-child(3) {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    /* BiteCodeEntry or Fragment */
    .JoinedGame div:nth-child(1) {
        grid-column: 2;
        grid-row: 4;
    }

    /* Google Map */
    .JoinedGame div:nth-child(6) {
        grid-column: 2;
        grid-row: 2 / span 3;
    }

    /* SquadList */
    .JoinedGame div:nth-child(4) {
        grid-column: 1;
        grid-row: 3;
    }

    /* Chat */
    .JoinedGame div:nth-child(5) {
        grid-column: 3;
        grid-row: 2 / span 4;
        
    }

    
}