.notloggedin {
    visibility: hidden;
}

@media screen and (min-width: 100px) {

    .GameItem {
        border-radius: 15px;
        margin: 10px 0;
        display: grid;
        grid-template-columns: 50% 20% 30%;
        grid-template-rows: 30% 30% 1fr;
        background-color: #F5F5F5;
        color: #303030;
        height: 100px;
        text-transform: none;
        text-decoration-line: none;
    }

    .GameItem h4 {
        grid-column: 1 / span 2;
        grid-row: 1;
        height: 30px;
        font-size: 16px;
        padding: 0;
        margin: 10px;
    }

    .GameItem .Players {
        grid-column: 2 / span 3;
        grid-row: 1;
        justify-self: end;
        padding: 0;
        margin: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .Players img {
        margin: -5px 5px;
    }

    .GameItem .StartDate {
        grid-column: 1;
        grid-row: 2;
        margin: 15px 10px;
        height: 30px;
        font-size: 12px;
    }

    .GameItem .EndDate {
        grid-column: 2 / span 3;
        grid-row: 2;
        justify-self: end;
        margin: 15px 10px;
        height: 30px;
        font-size: 12px;
    }

    .GameItem .GameState {
        grid-column: 1 / span 3;
        grid-row: 3;
        justify-self: center;

        background-color: #A7C57C;
        font-size: 14px;
        width: 96%;
        border-radius: 50px;
        text-align: center;
        color: #F5F5F5;
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media screen and (min-width: 801px) {
    
}