@media screen and (min-width: 100px) {
    .LoginForm {
        display: block;
        max-width: 400px;
        width: 70%;
        margin: 0 auto;
    }

    .LoginForm form div {
        margin: 25px 0;
    }

    .LoginForm label {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .LoginForm input {
        font-family: inherit;
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid #F5F5F5;
        color: #F5F5F5;
        padding: 10px;
    }

    .LoginForm input::placeholder {
        color: rgba(245, 245, 245, 0.438);
    }

    .LoginForm input:focus {
        outline: none;
    }

    .BtnSignIn {
        display: block;
        width: 100%;
        margin: 0;
    }

    .BtnRegister {
        display: block;
        margin: 20px 0;
        width: 100%;
        background: transparent;
        color: #DBA53D;
        box-shadow: none;
    }

    .BtnRegister:hover {
        border: 2px solid #DBA53D;
        background-color: transparent;
        color: #DBA53D;
    }
}

@media screen and (min-width: 801px) {
    .LoginForm {
        width: 400px;
    }
}