.Login_btn {
    display: inline;
    float: right;
    margin: 20px;
    width: 60px;
    height: 30px;
}

.Logout_btn {
    display: inline;
    float: right;
    margin: 20px;
    width: 80px;
    height: 30px;
}

.NewGame_btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
}

.Current_games {
    display: inline;
}