@media screen and (min-width: 100px) {

    button {
        border-radius: 50px;
        border: none;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
        height: 40px;
        cursor: pointer;
        background-color: #DBA53D;
        color: #F5F5F5;
        margin: 5px;
    }

    button:hover {
        transition: ease-in 100ms;
        background-color: #EDB955;
    }

    button:focus {
        outline: none;
    }

    .GameComponents {
        background-color: #77A4AC;
        padding: 0 10px;
        height: 70vh;
        overflow-y: scroll;
        margin: 20px 10px;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        /* scrollbar-color: #DBA53D;
        scrollbar-face-color: #DBA53D;
        scrollbar-width: 40px; */
    }

    .Login_btn {
        width: 140px;
        height: 40px;
        position: absolute;
        top: 15px;
        right: 0;
    }

    .Logout_btn {
        width: 140px;
        height: 40px;
        position: absolute;
        top: 15px;
        right: 0;
        background-color: transparent;
        color: #DBA53D;
        box-shadow: none;
    }

    .Logout_btn:hover {
        border: 2px solid #DBA53D;
        background-color: transparent;
    }

    .Current_games {
        display: inline;
        font-size: 18px;
        margin: 10px;
        display: block;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        border-bottom: 2px solid #F5F5F5;
    }

    .NewGame_btn {
        width: 60%;
        position: relative;
        right: 50%;
        left: 50%;
        transform: translate(-50%);
    }
}

@media screen and (min-width: 801px) {
    .Login_btn {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .Logout_btn {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .Current_games {
        font-size: 24px;
        margin: 10px 10%;
    }

    .GameComponents {
        margin: 20px 10%;
    }

}

@media screen and (min-width: 1281px) {

    .Current_games {
        margin: 10px 20%;
    }
    
    .GameComponents {
        margin: 20px 20%;
    }
}