@media screen and (min-width: 100px) {
    .SquadListItem {
        display: grid;
        margin: 10px;
        padding: 10px;
        grid-template-columns: 1fr 20%;
        grid-template-rows: 20px 15px 15px;
        background-color: #F5F5F5;
        color: #303030;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        
    }

    .SquadListItem h4 {
        margin: 0;
        grid-column: 1;
        grid-row: 1;
        font-size: 18px;
        color: #2C6974;
    }
    
    .SquadListItem p {
        margin-top: 5px;
        font-size: 12px;
    }
    
    .SquadListItem .Total {
        grid-column: 1;
        grid-row: 2;
    }
    .SquadListItem .Deceased {
        grid-column: 1;
        grid-row: 3;
    }
    
    
    .SquadListItem button {
        grid-column: 2;
        grid-row: 1 / span 3;
        background-color: #DBA53D;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        margin: 0;
        min-width: 30px;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .SquadListItem button:hover {
        transition: 100ms ease;
        background-color: #EDB955;
        color: #F5F5F5;
    }
}

@media screen and (min-width: 400px) {
    .SquadListItem {
        grid-template-columns: 30% 1fr 20%;
        grid-template-rows: 20px 15px;
        
    }

    .SquadListItem h4 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    
    .SquadListItem .Total {
        grid-column: 1;
        grid-row: 2;
    }
    .SquadListItem .Deceased {
        grid-column: 2;
        grid-row: 2;
    }
    
    
    .SquadListItem button {
        grid-column: 3;
        grid-row: 1 / span 2;
    }
}

@media screen and (min-width: 801px) {
    .SquadListItem button {
        font-size: 18px;
    }
}