@media screen and (min-width: 100px) {
    .SquadDetailsItem {
        display: grid;
        grid-template-columns: 60% 1fr 30%;
        border-bottom: 1px dotted rgba(30, 30, 30, 0.205);
    }

    .SquadDetailsItem p:first-child {
        font-weight: bold;
        color: #2C6974;
        grid-column: 1;
    }

    .SquadDetailsItem p {
        border-right: 1px dotted rgba(30, 30, 30, 0.205);
        font-size: 12px;
        padding-left: 5px;
        color: #303030;
        overflow: hidden;
    }

    .SquadDetailsItem p:last-child {
        border: none;
    }
}

@media screen and (min-width: 801px) {

}