@media screen and (max-width: 600px) {
    .SquadDetailsItem {
        display: grid;
        grid-template-columns: 60% 1fr 30%;
        border-bottom: 1px dotted rgba(30, 30, 30, 0.205);
    }

    .SquadDetailsItem p:first-child {
        font-weight: bold;
        color: #2C6974;

    }

    .SquadDetailsItem p {
        border-right: 1px dotted rgba(30, 30, 30, 0.205);
        font-size: 12px;
        padding-left: 5px;
        color: #303030;
    }

    .SquadDetailsItem p:last-child {
        border: none;
    }
}

@media screen and (min-width: 600px) {
    .SquadDetailsItem {
        display: grid;
        grid-template-columns: 50% 1fr 1fr;
        border-bottom: 1px solid rgba(0, 0, 0, 0.205);
        margin: 0px 15px;
    }

    .SquadDetailsItem p {
        border-right: 1px solid rgba(0, 0, 0, 0.205); 
    }

    .SquadDetailsItem p:last-child {
        border: none;
        grid-column: 3;
    }
}