.ChatFragment {
    box-shadow: 0 0 5px black;
    width: 33%;
    border-left: 1px solid black;
}

.Tabs {
    display: flex;
    flex-wrap: nowrap;
}

.Tab {
    overflow: hidden;
    border: 1px solid black;
    border-left: none;
    text-align: center;
    width: 25%;
}

.Tab.Active {
    border-bottom: none;
}

.Messages {
    border: 1px solid black;
    border-top: none;
    padding: 10px;
    border-bottom: none;
    border-left: none;
    min-height: 300px;
    max-height: 300px;
    overflow: scroll;
}

.Message {
    background-color: dodgerblue;
    width: fit-content;
    border-radius: 3px;
    margin: 3px;
    padding: 10px;
    /* box-shadow: 0 0 5px skyblue; */
    color: white;
}

.ChatFooter {
    border: 1px solid black;
    border-left: none;
    display: flex;
}

#BtnSend {
    width: 25%;
}

#MsgInput {
    width: 75%;
}