@media screen and (min-width: 100px) {
    .ChatFragment {
        margin: 0 10px 0 10px;
    }
    .ChatFragmentDiv {
        margin: 10px auto;
        max-width: 600px;
        width: 100%;
        background-color: #77A4AC;
        border-radius: 15px;
        color: #303030;
        padding: 10px 10px 20px 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    .Tabs {
        display: flex;
        flex-wrap: nowrap;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        max-width: 600px;
        width: 100%;
    }

    .Tab {
        text-align: center;
        overflow: hidden;
        padding-top: 8px;
        background-color: #E5E5E5;
        color: #2C6974;
        width: 90%;
        cursor: pointer;
        height: 35px;
        border-radius: 5px 5px 0 0;
        margin: 0 auto;
        opacity: 0.7;
    }

    .Tab:hover {
        opacity: 1;
    }

    .Tab.Active {
        opacity: 1;
        background-color: #2C6974;
        color: #F5F5F5;
    }

    .Messages {
        margin-top: 0px;
        max-width: 600px;
        width: 100%;
        background-color: #F5F5F5;
        border: 3px solid #2C6974;
        padding: 10px;
        min-height: 300px;
        max-height: 300px;
        overflow-y: scroll;
        border-radius: 0 0 5px 5px;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .Message {
        background-color: #77A4AC;
        color: #F5F5F5;
        width: fit-content;
        border-radius: 5px;
        margin: 3px;
        padding: 10px;
        float: left;
        clear: both;
    }

    .ChatFooter {
        max-width: 600px;
        width: 100%;
        height: 40px;
        margin: 0;
        display: flex;
    }

    #MsgInput {
        max-width: 600px;
        width: 100%;
        border: none;
        background-color: #F5F5F5;
        border-radius: 5px;
        padding: 0 5px;
        height: 100%;
        font-family: inherit;
        font-size: 12px;
        margin: 10px 0;
        
    }

    #MsgInput::placeholder {
        color: rgba(48, 48, 48, 0.555);
    }
    
    #MsgInput:focus {
        outline: none;
        border: 2px solid #2C6974;
    }
    #BtnSend {
        margin: 10px 0 10px 10px;
        width: 100px;
        border-radius: 5px;
    }
    
    .UserMessage {
        background-color: #77A4AC;
        color: #F5F5F5;
        width: fit-content;
        border-radius: 5px;
        margin: 3px;
        padding: 10px;
        float: right;
        clear: both;
    }

    .TimeStamp {
        font-weight: normal;
        float: right;
        font-size: small;
    }

    .Message p {
        margin: 0 3px;
    }

    .UserMessage p {
        margin: 0 3px;
    }
}


@media screen and (min-width: 801px){

}

@media screen and (min-width: 1200px) {
    .ChatFragment {
        margin: 0 10px;
    }

    .ChatFragmentDiv {
        margin: 10px auto;
        height: 610px;
        background-color: #77A4AC;
        max-width: 1000px;
        width: 100%;
    }

    .Messages {
        max-height: 505px;
        height: 100%;
        max-width: 1000px;
        width: 100%;
    }

    .Tabs {
        max-width: 1000px;
        width: 100%;
    }

    .ChatFooter {
        max-width: 1000px;
        width: 100%;
    }
}