@media screen and (min-width: 100px) {
    .MissionListItem {
        display: grid;
        margin: 10px;
        padding: 10px;
        grid-template-columns: 1fr 20%;
        grid-template-rows: 20px 15px 15px;
        background-color: #F5F5F5;
        color: #303030;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    .MissionListItem h4 {
        margin: 0;
        grid-column: 1;
        grid-row: 1;
        font-size: 18px;
        color: #2C6974;
    }
    
    .MissionListItem p {
        margin-top: 5px;
        font-size: 12px;
    }

    .Type {
        grid-column: 1;
        grid-row: 2;
    }
    
    .MissionListItem button {
        grid-column: 3;
        grid-row: 1 / span 3;
        background-color: #DBA53D;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        margin: 0;
        min-width: 30px;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .MissionListItem button:hover {
        transition: 100ms ease;
        background-color: #EDB955;
        color: #F5F5F5;
    }

    .More {
        margin-top: 10px;
        grid-column: 1 / span 3;
        grid-row: 3 / span 5;
        word-break: break-all;
    }

    .MoreBtns{
        display: grid;
        place-items: center;
    }

    .MoreBtns button {
        width: fit-content;
        padding: 5px 10px;
    }

    .Time {
        display: block;
        grid-column: 3;
        grid-row: 5;
    }

    .Time p {
        display: block;
        float: right;
        clear: both;
        margin: 3px;
    }

    .State {
        grid-column: 2;
        grid-row: 1 / span 2;
        justify-self: center;
    }
}

@media screen and (min-width: 400px) {
    .MissionListItem {
        grid-template-columns: 30% 1fr 20%;
        grid-template-rows: 20px 15px; 
    }

    .MissionListItem h4 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    
    .MissionListItem button {
        grid-column: 3;
        grid-row: 1 / span 2;
    }
}

@media screen and (min-width: 801px) {
    .MissionListItem button {
        font-size: 18px;
    }
}