@media screen and (min-width: 100px) {
    .RegistrationFragment {
        margin: 10px;
    }

    .RegistrationFragment button{
        display: block;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 801px) {
}