@media screen and (min-width: 100px) {
    .SquadDetailsFragment {
        margin: 10px auto;
        max-width: 600px;
        width: 100%;
        
    }

    .Title {
        position: relative;
        margin: 0 10px 25px 10px;
    }

    .Title h1 {
        border-bottom: 2px solid #F5F5F5;
        width: 100%;
        font-size: 18px;
    }

    .CollapseBtn {
        width: 40px;
        height: 40px;
        border: 2px solid #F5F5F5;
        background-color: #2C6974;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.5em;
        margin: 0;
    }

    .CheckIn {
        margin: 0 10px;
    }
    
    .CheckInBtn {
        width: 100%;
        margin: 0;
    }

    .SquadMembers {
        background-color: #F5F5F5;
        color: #303030;
        margin: 15px 10px;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    .SquadMembers h2 {
        margin-top: 5px;
        color: #2C6974;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        border-bottom: 2px solid #2C6974;
    }

    .LeaveBtn {
        background-color: transparent;
        font-size: 12px;
        color: #ED553B;
        box-shadow: none;
        text-shadow: 0 0 3 rgba(0, 0, 0, 0.3);
        width: 100%;
        margin: 10px 0 0 0;
    }

    .LeaveBtn:hover {
        background-color: transparent;
        border: 1px solid #ED553B;
    }
}


@media screen and (min-width: 801px) {
    .SquadDetailsFragment {
        max-width: 800px;
        width: 100%;
    }

    .CheckIn {
        margin: 0 10px;
    }
    
    .CheckInBtn {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .SquadDetailsFragment {
        margin: 10px;
        max-width: 800px;
        width: 100%;
    }
    
    .Title {
        display: none;
    }

    .CollapseBtn {
        display: none;
    }

    .SquadMembers {
        display: block!important;
        max-height: 350px;
        height: 100%;
        overflow-y: scroll;
    }

    
}