@media screen and (min-width: 100px) {

    .RegisterForm {
        display: block;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }

    .RegisterForm form div {
        margin: 25px 0;
    }

    .RegisterForm h4 {
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        border-bottom: 2px solid #F5F5F5;
        padding-bottom: 5px;
    }

    .RegisterForm label {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .RegisterForm input {
        font-family: inherit;
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid #F5F5F5;
        color: #F5F5F5;
        padding: 10px;
    }

    .RegisterForm input:focus {
        outline: none;
    }

    .RegisterForm input::placeholder {
        color: rgba(245, 245, 245, 0.438);
    }

    .RegisterForm textarea {
        font-family: inherit;
        width: 100%;
        padding: 10px;
        background-color: #77A4AC;
        color: #F5F5F5;
        border: none;
        border-radius: 15px;
        resize: none;
    }

    .RegisterForm textarea::placeholder {
        color: rgba(248, 248, 248, 0.747);
    }

    .RegisterForm textarea:focus {
        outline: none;
    }

    .BtnGetLocation {
        display: block;
        width: 100%;
        margin: 0;
        background-color: transparent;
        color: #DBA53D;
        box-shadow: none;
    }

    .BtnGetLocation:hover {
        border: none;
        background-color: transparent;
        border: 2px solid #DBA53D;
    }

    .BtnCreate {
        display: block;
        width: 100%;
        margin: 15px 0;
    }

    
}

@media screen and (min-width: 801px) {
    .RegisterForm {
        display: block;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

}