/* .Timer {
    display: block;
    margin: 20px 20px 0px 20px;
    float: right;
    max-height: 50px;
}

.GameState {
    max-width: 700px;
    width: 100%;
    margin: 10px auto;
}

.GameState h2 {
    border-bottom: 2px solid #F5F5F5;
    width: 100%;
    font-size: 18px;
} */

.TimerMoment p {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    margin: 15px 0;
    /* width: 95%; */
}

.DatePickerContainer {
    max-width: 370px;
    border: 2px solid white;
    user-select: none;
    margin: auto;
}