@media screen and (min-width: 100px) {
    .MapDiv {
        margin: 0 10px;
    }
    .Map {
        margin: 10px auto;
        max-width: 500px;
        height: 300px;
        width: 100%;
        border: 10px solid #77A4AC;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
}

@media screen and (min-width: 801px) {
    .Map {
        max-width: 700px;
        height: 500px;
        width: 100%;
    }
}




