@media screen and (min-width: 100px) {
    .TitleFragment {
        max-width: 600px;
        width: 100%;
        margin: 10px auto;
    }

    .Title {
        position: relative;
        margin: 0 10px;
    }

    .TitleFragment h1 {
        border-bottom: 2px solid #F5F5F5;
        width: 100%;
        font-size: 18px;
    }

    .CollapseBtn {
        width: 40px;
        height: 40px;
        border: 2px solid #F5F5F5;
        background-color: #2C6974;
        position: absolute;
        right: -5px;
        top: 0;
        font-size: 1.5em;
    }

    .Info {
        margin: 0 10px;
    }

    .TitleFragment span {
        font-weight: bold;
        text-transform: uppercase;
    }

    .TitleFragment p {
        font-size: 12px;
        margin: 15px 0;
        width: 95%;
    }

    .GameState {
        color: #303030;
    }
}

@media screen and (min-width: 801px) {
    .TitleFragment {
        margin-top: -20px;
        max-width: 100%;
        height: 425px;
    }

    .CollapseBtn {
        display: none;
    }

    .Rules {
        display: block!important;
        height: 250px;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 1200px) {
    .TitleFragment {
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 20px 10px;
    }

    .Title {
        margin: 0 10px;
    }

    .TitleFragment h1 {
        border-bottom: 2px solid #F5F5F5;
        width: 100%;
        font-size: 24px;
    }

    .Rules {
        display: block!important;
        height: 150px;
        overflow-y: scroll;
    }

    
}