#editButton {
    border-radius: 25%;
    padding-left: .5em;
    /* position: absolute;
    left: 80%;
    top: -10px; */
    font-size: 1em;
    height: 1.6em;
    display: inline-flex;
}

.TitleFragment h1:focus {
    /* background: #fff; */
    background-image: linear-gradient(to right, rgba(252, 252, 252, 1), rgba(255,0,0,0));
    outline: none;
    color: #000;
    cursor: auto;
}

@media screen and (min-width: 100px) {
    .TitleFragment {
        margin: 10px;
    }

    .Title {
        position: relative;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .TitleFragment h1 {
        border-bottom: 2px solid #F5F5F5;
        width: 100%;
        font-size: 18px;
    }

    .CollapseBtn {
        width: 40px;
        height: 40px;
        border: 2px solid #F5F5F5;
        background-color: #2C6974;
        position: absolute;
        right: -5px;
        top: -2px;
        font-size: 1.5em;
    }

    .CollapseBtnAdmin {
        width: 40px;
        height: 40px;
        border: 2px solid #F5F5F5;
        background-color: #2C6974;
        position: absolute;
        right: -5px;
        top: 15px;
        font-size: 1.5em;
    }

    .Info {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .TitleFragment span {
        font-weight: bold;
        text-transform: uppercase;
    }

    .TitleFragment p {
        font-size: 12px;
        margin: 15px 0;
        width: 95%;
    }

    .GameState {
        color: #303030;
    }
}

@media screen and (min-width: 801px) {
    .TitleFragment {
        margin-top: -20px;
    }

    .Title {
        max-width: 800px;
        width: 100%;
    }
    .CollapseBtn {
        top: 0;
    }

    .Info {
        max-width: 800px;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {

    .Title {
        max-width: 1200px;
        width: 100%;
    }

    .CollapseBtn {
        top: 0;
    }

    .Info {
        max-width: 1200px;
        width: 100%;
    }

    
}