@media screen and (min-width: 100px) {
    .TitleFragment {
        max-width: 500px;
        width: 100%;
        margin: 10px auto;
        padding: 0 10px;
    }

    .Title {
        position: relative;
        margin: 0 10px;
    }

    .TitleFragment h1 {
        border-bottom: 2px solid #F5F5F5;
        width: 100%;
        font-size: 18px;
    }

    .CollapseBtn {
        width: 40px;
        height: 40px;
        border: 2px solid #F5F5F5;
        background-color: #2C6974;
        position: absolute;
        right: -15px;
        top: 0;
        font-size: 1.5em;
    }

    .Info {
        margin: 0 10px;
    }

    .TitleFragment span {
        font-weight: bold;
        text-transform: uppercase;
    }

    .TitleFragment p {
        font-size: 12px;
        margin: 15px 0;
        width: 95%;
    }

    .GameState {
        color: #303030;
    }
}

@media screen and (min-width: 600px) {

}