@media screen and (min-width: 100px) {

    .NewMissionForm {
        margin: 10px;
    }

    .ShowFormBtn {
        margin: 0;
        width: 100%;
        font-size: 2em;
    }

    .CreationForm {
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        border-radius: 15px;
        background-color: #F5F5F5;
    }

    .CreationForm h2 {
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        color: #2C6974;
        border-bottom: 2px solid #2C6974;
        margin-top: 0;

    }

    .Label {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5px;
        color: #2C6974;
    }

    .Input {
        font-family: inherit;
        width: 100%;
        background-color: #E5E5E5;
        border-radius: 5px;
        margin-bottom: 10px;
        border: none;
        padding: 10px;
        color: #303030;
    }

    .VisibilityHuman {
        margin: 10px 0;
    }

    .VisibilityZombie {
        margin: 10px 0;
    }

    .VisibilityLabel {
        font-size: 12px;
        text-transform: capitalize;
        font-weight: normal;
        color: #303030;
    }

    .Checkbox{
        width: 20px;
        background-color: rgb(117, 67, 76);
        border-radius: 5px;
        border: none;
    }
    /* .CheckboxLabel {
        width: 100%;
        margin: 0 auto;
    }

    .Checkbox {
        width: 10px;
        margin: 0;
        padding: 0;
    } */

    .CreationForm input::placeholder {
        color: rgba(48, 48, 48, 0.5)
    }

    .CreationForm input:focus {
        outline: none;
    }

    .CreateBtn {
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }

    .CloseBtn {
        margin: 10px 0 0 0;
        width: 100%;
        background-color: transparent;
        color: #DBA53D;
        box-shadow: none;
    }

    .CloseBtn:hover {
        background-color: transparent;
        border: 2px solid #DBA53D;
    }
}


@media screen and (min-width: 801px) {

}