@media screen and (min-width: 100px) {
    .SquadComponents {
        max-width: 600px;
        width: 100%;
        background-color: #77A4AC;
        margin: 20px auto;
        padding: 1px;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }   
    
    .SquadList {
        margin: 10px;
    }

    .Title {
        position: relative;
        max-width: 600px;
        width: 100%;
        margin: 0 auto 30px auto;
    }

    .Title h1 {
        border-bottom: 2px solid #F5F5F5;
        width: 100%;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .CollapseBtn {
        width: 40px;
        height: 40px;
        border: 2px solid #F5F5F5;
        background-color: #2C6974;
        position: absolute;
        right: -5px;
        top:0;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 801px) {
    .SquadList {
        margin: 10px;
        padding: 0;
    }

    .SquadComponents {
        max-width: 800px;
        width: 100%;
        background-color: #77A4AC;
        max-height: 30vh;
        height: fit-content;
        overflow-y: auto;
        margin: 10px auto;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    .CollapseBtn {
        display: none;
    }

    .Title {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
} 

@media screen and (min-width: 1200px) {
    .SquadList {
        margin: 10px;
    }

    .Title {
        max-width: 1200px;

    }

    .SquadComponents {
        display: block!important;
        max-width: 1200px;
    }

    .SquadList {
    }
}