@media screen and (min-width: 100px) {
    .MissionListDiv {
        margin: 10px;
        
    }

    .MissionComponents {
        max-width: 600px;
        width: 100%;
        background-color: #77A4AC;
        margin: 0 auto;
        padding: 1px;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }   
    
    .MissionList {
        margin: 10px auto;
        max-width: 600px;
        width: 100%;
    }

    .Title {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
    }

    .Title h1 {
        border-bottom: 2px solid #F5F5F5;
        width: 100%;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .CollapseBtn {
        width: 40px;
        height: 40px;
        border: 2px solid #F5F5F5;
        background-color: #2C6974;
        position: absolute;
        right: -5px;
        top:0;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 801px) {

    .Title {
        margin-bottom: 10px;
    }

    .CollapseBtn {
        display: none;
    }
} 

@media screen and (min-width: 1200px) {
    .MissionComponents {
        display: block!important;
        max-width: 1200px;
        width: 100%;
    }

    .MissionList {
        max-width: 1200px;
        width: 100%;
    }
}