@media screen and (min-width: 100px) {
    .BiteCodeFragment {
        margin: 10px auto;
        padding: 0 10px;
    }

    .BtnGetCode {
        display: block;
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
    }

    .CopyCode {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        background-color: #F5F5F5;
        padding: 10px;
        border-radius: 15px;
        color: #303030;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 30px 40px;
    }

    .CopyCode h2 {
        grid-column: 1 / span 2;
        grid-row: 1;
        color: #2C6974;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }

    .CopyCode input {
        background-color: #E5E5E5;
        border: none;
        height: 100%;
        border-radius: 5px;
        padding: 5px;
        font-family: inherit;
        grid-column: 1;
        grid-row: 2;
    }

    .CopyCode input:focus {
        outline: none;
    }

    .CopyCode button {
        grid-column: 2;
        grid-row: 2;
        justify-self: end;
        margin: 0 0 0 10px;
        width: 90%;
        height: 100%;
        border-radius: 3px;
    }

    .CopyCode p {
        grid-column: 1 / span 2;
        width: 100%;
        margin: 10px 0 0 0;
        color: #2C6974;
        font-size: 14px;
        text-align: center;
    }

    .CloseBtn {
        display: block;
        max-width: 300px;
        width: 100%;
        margin: 10px auto;
        background-color: transparent;
        box-shadow: none;
        color: #DBA53D;
        
    }

    .CloseBtn:hover {
        transition: 200ms;
        background-color: transparent;
        border: 2px solid #DBA53D;
    }
}

@media screen and (min-width: 801px) {

}

@media screen and (min-width: 1200px) {
    .BiteCodeFragment {
        margin: 10px auto;
        padding: 0 10px;
    }

    .BtnGetCode {
        display: block;
        margin: 0 auto;
        width: 300px;
    }

    .CopyCode {
        max-width: 300px;
        width: 300px;
    }
}